body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box:hover {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 9;
}

/* NAV */
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


@media only screen and (max-width:600px){
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    margin-left: auto;
}

/* COVER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.cover {
    width: 30rem;
}

/* GRID */
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}

/* FOOTER */

.yellow {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
}


.green{
    background: #56B870;
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%);
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%);
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); 
    background: linear-gradient(top, #56B870 0%,#a5c956 100%);
}


.yellow{
    background: #F3AAAA;
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); 
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); 
}

.blue{
    background: #7abcff; 
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
}
